//$icon-font-path: "../bootstrap/fonts/bootstrap/";

$gutter: 15px;

$header-height: 51px;
$header-height-sm: 57px;

$content-padding: $header-height + $gutter;
$content-padding-sm: $header-height-sm + $gutter;

$background-color: #e3dcee;

$header-background-color: #681067;
$header-font-color: #ffffff;
